/* Universal selector that applies to everything on the page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color for the webpage. */
body {
    background-color: #d9dcd6;
}

/* Header class */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* h1 modification for the header class */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Modification for the letters SEO in the company title at the top of the page */
.header h1 .seo {
    color: #d9dcd6;
}

/* header div content for the text in content and benefits sections of the page. also modifies unordered lists and listed items. */

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* modification to links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* modification to paragraph */
p {
    font-size: 16px;
}

/*The large image at the top of the page*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* where content should be placed with specifications to margin on the left/right */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* content class with specifications to the width, how its displayed on the page and a modification to the left side margin */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefitsBody {
    margin-bottom: 32px;
    color: #ffffff;
}

/* benefitsBody stylizes the text and margins of the benefits text and headers. It replaces the following code...

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff; 
}
*/

#h3Benefits {
    margin-bottom: 10px;
    text-align: center;
}

/*h3benefits aligns text and creates bottom margins for the sub headers on the benefits sections of the page. It replaces the following code...

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
*/

#benefitsImg {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*benefitsImg sets the size for the benefits icons. It replaces the following code...

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
*/

.leftSideContent {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*leftSideContent creates margin and padding for the boxes, images, and text for the content. It replaces the folloring code

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
*/

#contentImg {
    max-height: 200px;
}

/* contentImg sets the max height for the 3 content images replaces the following code

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
*/

#h2Content{
    margin-bottom: 20px;
    font-size: 36px;
}

/* h2Content provides CSS for the headers on the content on the right side and replaces the following code

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
*/


/*The following is CSS code for the footer section of the website*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
